.header {
    padding: 18px 0;
    background: #1C1C21;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
}

.container {
    max-width: 1240px;
    padding: 0 40px;
    display: flex;
    margin: 0 auto;
}

.text {
    padding-left: 8px;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login{
    display: block;
    margin-left: auto;
}
